.events-section {
  padding: 60px 0;
}

.purple {
  color: #9754CB;
}

.events-description {
  margin-bottom: 40px;
}

.event-box {
  background-color: rgba(9, 4, 18, 0.4);
  border-radius: 10px;
  padding: 40px 20px;
  color: white;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative; /* Allow precise positioning */
}

.event-date {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -170px; /* Move the circle further to the left */
}

.date-circle {
  width: 60px; /* Make the circle bigger */
  height: 60px; /* Make the circle bigger */
  background-color: rgba(49, 41, 93, 0.8); /* RGB color with transparency */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(49, 41, 93, 0.8); /* Add glow effect */
}

.event-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-image {
  width: 100%;
  max-width: 2000px;
  border-radius: 10px;
}

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0; /* Ensure there is some padding between the image and the text */
  margin-left: 20px; /* Adjust margin to reduce empty space inside the box */
}

.event-social-links {
  margin-top: 10px;
}

.event-social-links a {
  color: #9754CB;
  margin-right: 10px;
  font-size: 1.5em; /* Adjust the size of the icon */
}

.timeline {
  position: relative;
  padding-left: 100px; /* Adjust this value to move the timeline line to the left */
}

.timeline::before {
  content: '';
  position: absolute;
  left: 30px; /* Adjust this value to align the line with the date circles */
  top: 0;
  bottom: 0;
  width: 15px; /* Make the line thicker */
  background: rgba(49, 41, 93, 0.8); /* RGB color with transparency */
  box-shadow: 0 0 10px rgba(49, 41, 93, 0.8); /* Add glow effect */
}
