.cloud {
    animation-duration: 3s; /* Adjust duration as needed */
    animation-timing-function: ease-in-out;
    display: inline-block;
    transform: translate3d(0, 0, 0);
  }
  
  .move {
    animation-name: moveCloud;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes moveCloud {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the distance the cloud moves */
    }
    100% {
      transform: translateY(0);
    }
  }
  